<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-divider class="datos1">
    <ion-label>
      <p class="titulo">DATOS ACADÉMICOS</p>
      <ion-label>
        <p class="texto">Escuela Nacional Politecnica</p>
        <p class="texto">Tecnología en desarrollo de software | 2021-presente</p>
      </ion-label>
      <ion-label>
        <p class="texto">Institución educativa fiscal Cinco de Junio</p>
        <p class="texto">Bachillerato Técnico en Informática | 2021</p>
      </ion-label>
    </ion-label>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label class="datos2">
      <p class="titulo dat">REFERENCIAS</p>

      <ion-label class="refe">
        <p class="texto">Msc. María Pilataxi</p>
        <p class="texto">Docente</p>
        <p class="texto">098 425 6462</p>
      </ion-label>

      <ion-label class="refe">
        <p class="texto">Lic. Diego Herrera</p>
        <p class="texto">Docente</p>
        <p class="texto">098 320 9220</p>
      </ion-label>

      <ion-label class="refe">
        <p class="texto">Lic. Fabian Bolaños</p>
        <p class="texto">Docente</p>
        <p class="texto">099 883 7035</p>
      </ion-label>
    </ion-label>
  </ion-item-divider>

  <ion-item-divider >
    <ion-label class="datos3">
      <p class="titulo dat">CURSOS Y CONOCIMIENTO ADICIONAL</p>

      <ion-label class="refe"> 
        <p class="texto">Introducción a la ciberseguridad</p>
        <p class="texto">Noviembre 2020</p>
        <p class="texto">15 horas</p>
      </ion-label>

      <ion-label class="refe">
        <p class="texto">Introducción a las LOTs</p>
        <p class="texto">Octubre 2020</p>
        <p class="texto">20 horas</p>
      </ion-label>
    </ion-label>
  </ion-item-divider>
</ion-content>
